.input {
  position: relative;
  margin-block: 20px;
  width: 100%;
}

.input label {
  position: absolute;
  font-size: 16px;
  color: var(--black-clr);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  padding: 5px;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  transition: 0.2s linear;
  pointer-events: none;
}

.input label.active {
  top: 0;
  font-size: 14px;
  background: white;
  border-radius: 5px;
}

.input input {
  border-radius: 5px;
  border: 1px solid var(--pry-clr);
  height: 55px;
  width: 100%;
  padding: 10px;
  font-family: "Red Hat Display", sans-serif;
  font-size: 14px;
  font-weight: 300;
  outline: none;
}
