.passwordrecovery {
  padding: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  width: 100%;
}

.passwordrecovery img {
  width: 150px;
  margin-inline: auto;
}
